/* CSS Document */

#carboncalc_wrapper .etabs { margin: 0; padding: 0; }
#carboncalc_wrapper .tab { display: inline-block; /*width:173px;*/ margin:0 4px 0 0; height:40px; padding:0; zoom:1; *display:inline; background: #3db55d; border: solid 3px #3db55d; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
#carboncalc_wrapper .tab.last { margin-right:0; }
#carboncalc_wrapper .tab a { color:#fff; text-decoration:none;}
#carboncalc_wrapper .tab a:hover { text-decoration:none;}
#carboncalc_wrapper .tab.active { background: #fff; position: relative; border-color: #3db55d; }
#carboncalc_wrapper .tab a.active { font-weight: bold; color:#0e5c12; }
#carboncalc_wrapper .tab a.tab-link {display:block; font-size: 14px; outline: none; /*width:150px;*/height:24px; background-repeat:no-repeat; background-position:center 14px; text-align:center; padding:70px 10px 0; }
#carboncalc_wrapper .tab a.energy { background-image:url(../images/icon_energy_off.png) }
#carboncalc_wrapper .tab a.energy.active { background-image:url(../images/icon_energy_on.png) }
#carboncalc_wrapper .tab a.air { background-image:url(../images/icon_air_off.png) }
#carboncalc_wrapper .tab a.air.active { background-image:url(../images/icon_air_on.png) }
#carboncalc_wrapper .tab a.road { background-image:url(../images/icon_road_off.png) }
#carboncalc_wrapper .tab a.road.active { background-image:url(../images/icon_road_on.png) }
#carboncalc_wrapper .tab a.other { background-image:url(../images/icon_other_off.png) }
#carboncalc_wrapper .tab a.other.active { background-image:url(../images/icon_other_on.png) }
#carboncalc_wrapper div.tab-content { margin-top:-3px; /*max-width:692px;*/ max-width:100%; background-color:#fff; border: solid 3px #3db55d; border-bottom:0; padding:35px 15px 25px;  }
#carboncalc_wrapper div.tab-content div.notes { font-size:12px; font-size:1.2rem; font-weight:bold; text-align:center; background-color:#e7f5da; padding:50px 30px 25px; margin-bottom:20px; background-image:url(../images/bg_notes.png); background-repeat:no-repeat; background-position:center 20px;}
#carboncalc_wrapper div.tab-content div.notes a {  font-size:12px; font-size:1.2rem; font-weight:normal; color:#000;}

#carboncalc_wrapper .error select, #carboncalc_wrapper .error input[type=text], #carboncalc_wrapper .error input[type=number] { border-color:red;}

#carboncalc_wrapper select { max-width:100%; /*height:38px; line-height:34px;*/ border:2px solid #77af40;-webkit-appearance: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; padding:5px 20px 5px 5px; margin:0 10px 10px 0; font-size:11px; font-size:1.1rem; background-image:url(../images/select_arrows.png); background-size:6px 14px; background-position:98% 50%; background-repeat:no-repeat; }
#carboncalc_wrapper input { /*height:34px; line-height:34px;*/ border:2px solid #77af40; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; padding:5px; margin:0 10px 10px 0; font-size:11px; font-size:1.1rem; }
#carboncalc_wrapper input[type=checkbox] { margin:0;border:2px solid #77af40; height:auto; }



#carboncalc_wrapper div.calc_add { margin:30px 0 20px; }
#carboncalc_wrapper input.bt_calculate { border:none; height:auto; background-color:#3db55d; color:#fff; text-transform:uppercase; font-size:16px; padding:15px 20px; font-weight:bold;   }
#carboncalc_wrapper a.add_source { display:block; margin:0 0 20px; color:#77af40;  font-size:11px; font-weight:bold; text-decoration:none; }
#carboncalc_wrapper a.add_source:hover {  text-decoration:underline;  }
#carboncalc_wrapper div.source_total {  text-align:center;color:#77af40; font-size:16px; font-size:1.6rem; line-height:normal; font-weight:bold; }
#carboncalc_wrapper div.source_total span.tco2 {   font-size:12px; font-size:1.2rem; font-weight:normal }

#carboncalc_wrapper div.total_wrapper { /*max-width:728px;*/ max-width:100%; background-color:#77af40; height:70px; text-align:center;color:#fff; font-size:16px; font-size:1.6rem; line-height:normal; font-weight:bold; padding-top:20px; }
#carboncalc_wrapper div.total_wrapper span#total_tco2 { font-size:12px; font-size:1.2rem;font-weight:normal }






::-webkit-input-placeholder { /* WebKit browsers */
    color: #000;
	font-weight:normal;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #000;
   font-weight:normal;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 	color: #000;
	font-weight:normal;
   	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #000;
	font-weight:normal;
}

/* ENERGY */
#carboncalc_wrapper #tabs1-energy div.energy_source { border-top: 1px solid rgba(119, 175, 64, .3); padding-top:10px; }
#carboncalc_wrapper #tabs1-energy div.energy_source:first-child { border-top:0; }
#carboncalc_wrapper #tabs1-energy div.quantity_wrapper { display:inline;white-space:nowrap }
#carboncalc_wrapper #tabs1-energy div.quantity_wrapper label { text-transform:uppercase; color:#fff;border:1px solid #77af40; background-color:#77af40; padding:10px 5px; font-size:11px; font-size:1.1rem; line-height:14px; margin-right:7px;}
#carboncalc_wrapper #tabs1-energy div.quantity_wrapper input.energy_quantity { width:70px; height:38px; line-height:14px;}
#carboncalc_wrapper #tabs1-energy div.quantity_wrapper span.energy_type_unit { font-size:11px; font-weight:bold; color:#77af40; }

/* AIR TRANSPORT */
#carboncalc_wrapper #tabs1-air input[type=text], #carboncalc_wrapper #tabs1-air input[type=number], #carboncalc_wrapper #tabs1-air select { width:150px; }
#carboncalc_wrapper #tabs1-air span.air_unit { font-size:11px; font-size:1.1rem; font-weight:bold; color:#77af40; margin-right:15px; }
#carboncalc_wrapper #tabs1-air input.round_trip { margin-right:5px; }
#carboncalc_wrapper #tabs1-air label { font-size:11px; font-size:1.1rem; }

/* ROAD VEHICLES */
#carboncalc_wrapper #tabs1-road input[type=text], #carboncalc_wrapper #tabs1-road input[type=number], #carboncalc_wrapper #tabs1-road select { width:175px; }
#carboncalc_wrapper #tabs1-road span.road_unit { font-size:11px; font-size:1.1rem; font-weight:bold; color:#77af40; margin-right:15px; }

/* OTHER TRANSPORT */
#carboncalc_wrapper #tabs1-other input[type=text], #carboncalc_wrapper #tabs1-other input[type=number], #carboncalc_wrapper #tabs1-other select { width:220px; max-width:80%; }
#carboncalc_wrapper #tabs1-other span.other_unit { font-size:11px; font-size:1.1rem;  font-weight:bold; color:#77af40;  }

#carboncalc_wrapper div.plantation_wrapper { margin:30px 0; display:none; }
#carboncalc_wrapper div.plantation_wrapper div.trees_to_offset {display:none; }
#carboncalc_wrapper div.plantation_wrapper select { width: 220px; }
#carboncalc_wrapper div.plantation_wrapper select.plantation_province { width: 260px; }
#carboncalc_wrapper div.plantation_wrapper div.trees_to_offset { text-align:center; margin-top:25px; color:#77af40; font-size:12px;font-size:1.2rem; font-weight:bold;  }
#carboncalc_wrapper div.plantation_wrapper div.trees_to_offset span.total_trees_needed_wrapper { font-size:18px; }
#carboncalc_wrapper div.plantation_wrapper input[type=submit] { margin-top:10px; border:none; height:auto; background-color:#3db55d; color:#fff; text-transform:uppercase; font-size:12px; font-size:1.2rem; font-weight:bold; padding:10px; white-space:normal;  }



@media(max-width:767px){
	#carboncalc_wrapper .tab a { min-width:40px; max-width: 40px; }
	#carboncalc_wrapper .tab a.tab-link { text-indent:-9999px }
	#carboncalc_wrapper .tab a.tab-link { background-size:70%; background-position: center 10px; }
	#carboncalc_wrapper input.bt_calculate { font-size:16px; padding:8px 20px;   }
	#carboncalc_wrapper a.add_source { display:block; margin-left:0; }
}

@media(min-width:768px){
	#carboncalc_wrapper .tab {  height:94px;  }
	#carboncalc_wrapper a.add_source {  font-size:14px; font-size:1.4rem; }
	#carboncalc_wrapper .tab a.tab-link { font-size:11px; font-size:1.1rem; min-width:100px; max-width:125px; /* text-indent:-9999px*/ }
	#carboncalc_wrapper input.bt_calculate { font-size:24px; padding:15px 50px;   }
	#carboncalc_wrapper select { font-size:14px; font-size:1.4rem; background-size:8px 19px;}
	#carboncalc_wrapper input { font-size:14px; font-size:1.4rem; }

	#carboncalc_wrapper div.tab-content div.notes { font-size:18px; font-size:1.8rem; padding:50px 40px 25px;}
	#carboncalc_wrapper div.tab-content div.notes a {  font-size:18px; font-size:1.8rem; }

	#carboncalc_wrapper .width200 { width:150px;}
	#carboncalc_wrapper .width300 { width:200px;}
	#carboncalc_wrapper div.calc_add { margin:40px 0; }

	#carboncalc_wrapper div.source_total {  font-size:24px; font-size:2.4rem; }
	#carboncalc_wrapper div.source_total span.tco2 {   font-size:18px; font-size:1.8rem; }

	#carboncalc_wrapper div.total_wrapper {  font-size:24px; font-size:2.4rem;height:90px; }
	#carboncalc_wrapper div.total_wrapper span#total_tco2 { font-size:18px; font-size:1.8rem;}

	#carboncalc_wrapper #tabs1-energy div.quantity_wrapper label { font-size:13px; padding:10px 10px;}
	#carboncalc_wrapper #tabs1-energy div.quantity_wrapper input.energy_quantity { width:115px; }
	#carboncalc_wrapper #tabs1-energy div.quantity_wrapper span.energy_type_unit { font-size:16px;  }

	#carboncalc_wrapper #tabs1-air span.air_unit { font-size:16px; font-size:1.6rem;}
	#carboncalc_wrapper #tabs1-air label { font-size:16px;  font-size:1.6rem;}

	#carboncalc_wrapper #tabs1-road span.road_unit {  font-size:16px; font-size:1.6rem; }
	#carboncalc_wrapper #tabs1-other span.other_unit { font-size:16px; font-size:1.6rem;  }

	#carboncalc_wrapper #tabs1-other input[type=text], #carboncalc_wrapper #tabs1-other input[type=number], #carboncalc_wrapper #tabs1-other select { width:220px; }

	#carboncalc_wrapper div.plantation_wrapper div.trees_to_offset {font-size:16px; font-size:1.6rem;  }
	#carboncalc_wrapper div.plantation_wrapper div.trees_to_offset span.total_trees_needed_wrapper { font-size:32px; font-size:3.2rem }
	#carboncalc_wrapper div.plantation_wrapper input[type=submit] {  font-size:24px; font-size:2.4rem; padding:15px 25px;  }

}
@media(min-width:992px){
	#carboncalc_wrapper a.add_source {  font-size:18px; font-size:1.8rem; }
	#carboncalc_wrapper .tab { width:152px;}
	#carboncalc_wrapper .tab a.tab-link { font-size:14px; font-size:1.4rem; min-width:152px; max-width:152px; }
	#carboncalc_wrapper select { font-size:16px; font-size:1.6rem; }
	#carboncalc_wrapper input { font-size:16px; font-size:1.6rem; }
	#carboncalc_wrapper input.bt_calculate { font-size:24px; padding:15px 50px;   }
	#carboncalc_wrapper .width200 { width:200px;}
	#carboncalc_wrapper .width300 { width:300px;}
	#carboncalc_wrapper #tabs1-energy div.quantity_wrapper label { font-size:13px; }
	#carboncalc_wrapper div.plantation_wrapper input[type=submit] {   padding:15px 50px;  }
}
@media(min-width:1200px){
	#carboncalc_wrapper .tab { width:191px;}
	#carboncalc_wrapper .tab a.tab-link { min-width:191px; max-width:191px; }
}
