// @import "contact.scss";

.treecanada-carbon-calculator {

  .navbar {
        background-color: #99ccff;
    border: 0;
  }
  .calculator-container {
    // background-color: #00a95c;
    // background-color: #4f5859;
    // background-color: #333333;

    .row.nav-tabs { border: none; }

    padding: 4px;

    span.calculator-tab {
      color: #fff;
      font-weight: normal;
      font-size: 10pt;

      width: 20%;
      padding: 0px;
      margin: none;
    }

    div.nav-item {
      text-align: center;
      background-color: #00a95c;
      height: 55px;
      padding: 15px;
      cursor: pointer;
      color: #fff;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 8px 8px 0px 0px;
        margin-left: 1px;
        margin-right: 1px;
        width: 24.6%;
    }

    div.nav-item.active {
      color: #00a95c;
      background-color: #fff;
      border: 2px solid #00a95c;
      border-bottom: 3px solid #fff;

    }

    div.nav-item:hover{
      color: #00a95c;
      background-color: #fff;
      border: 2px solid #00a95c;
      border-bottom: 2px solid #fff;
    }

    .calculator-body {
        margin-top: -2px;
        margin-left: -14px;
        margin-right: -13px;
        border: 2px solid #00a95c;

        .tab-pane {
          padding: 5px 15px 15px 15px;
        }

        .form-control {
          margin-top: 15px;
        }

        .btn { color: #fff; border-color: #00FF8B; background-color: #00a95c; }
        .btn-primary { height: 55px; }

    }

  }

}
